/* Estilos grales de body y html */

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("{% static 'images/fondo_pelu_1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Estilos de header */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/*Estilos del Main y Contenedores Generales:*/

main {
    flex: 1 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/*Estilos de la Clase .calendar y Listas:*/

.calendar {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    
}

ul li {
    margin-bottom: 10px;
}

/*Estilos para Encabezados de Horarios Disponibles y Botones:*/

.available-times-heading {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(5px); /* Filtro de desenfoque */
    font-family: 'Oswald';
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #555;
}

.footer {
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

#horariosContainer {
    margin-bottom: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(5px); /* Filtro de desenfoque para un efecto borroso */
}

.card:hover {
    transform: scale(1.02); /* Efecto de escala al hacer hover */
}

/* Estilos específicos para los iconos de redes sociales */
.instagram-icon, .facebook-icon {
    display: inline-block;
}

.instagram-icon {
    position: absolute;
    left: 20px; /* Ajusta este valor para mover más a la izquierda */
}

.instagram-img {
    width: 54px; /* Aumenta el tamaño del icono */
    height: auto;
}

.facebook-icon {
    position: absolute;
    right: 20px; /* Ajusta este valor para mover más a la derecha */
}

.facebook-img {
    width: 54px; /* Aumenta el tamaño del icono */
    height: auto;
}

/* Estilo específico para centrar el texto */
.footer .container .text-center {
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Ajustes para las columnas */
.footer .row {
    position: relative;
}

.footer .col-md-4 {
    position: relative;
}

/* estilos nombre nav bar */

.navbar-brand {
    font-family: 'Oswald';
    font-size: 30px;
    color: #2b1ca2;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    font-style: italic;
}

.navbar-brand:hover {
    color: #ffcc00;
}

/* Estilos del contenedor TURNOS */

.turnos-container {
    text-align: center;
    margin: 20px 0;
}

.turnos-heading {
    font-family: "Oswald";
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px 100px;
    border-radius: 10px;
    font-weight: 800; /* Prueba con valores como 100, 200, 300, ..., 900 */
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.5);
}