<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios Peluquería</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Static files template tags load -->
    {% load static %}
    <!-- Static path using style.css -->
    <link rel="stylesheet" href="{% static 'app_horarios/style.css' %}">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--ver si está de más porque creo que no está en uso-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-sb5A1I4TyRznxGAhS/8cZDvhNNLwgsxeY5yyzUQzBDO4t1QhbhvS7ys/IM1G46lUslMTW3Uv1FiqNzZ3xZN5Hg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Background image -->
    <style>
        body {
            background-image: url("{% static 'images/fondo_pelu_1.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <!-- Hover effect for cards -->
    <style>
        .card:hover {
            transform: scale(1.02);
        }
    </style>
    <!-- Heading style for available times -->
    <style>
        .available-times-heading {
            text-align: center; /* Center align text */
            color: white; /* Text color */
        }
    </style>
    <!-- Strong style for available times heading -->
    <style>
        .available-times-heading strong {
            font-weight: bold;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Iván Bellotti Peluquería Salón Masculino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div id="header-contact-info" class="navbar-nav ml-auto contact-info">
                    <div class="contact-item address">
                        <span class="material-symbols-outlined">location_on</span>
                        <a href="https://www.google.com/maps/search/?api=1&query=V%C3%A9lez%20Sarsfield%20410,%20Las%20Varillas,%20C%C3%B3rdoba" target="_blank" style="color: white;">Vélez Sarsfield 410 - Local 4 - Las Varillas, Córdoba</a>
                    </div>
                    <div class="contact-item phone">
                        <span class="material-symbols-outlined">phone</span>
                        <a href="https://wa.me/5493533488227" target="_blank" style="color: white;">03533-488227</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Turnos section -->
    <div class="turnos-container">
        <h1 class="turnos-heading">SELECCIONE SU TURNO</h1>
    </div>

    <!-- Main content -->
    <main class="flex-shrink-0">
        <div class="container mt-5 mb-5">
            <!-- Formulario para seleccionar fecha y periodo del turno -->
            <form method="POST" id="horariosForm">
                {% csrf_token %}
                <input id="datepicker" type="text" class="form-control" name="fecha_seleccionada" placeholder="Selecciona una fecha" {% if fecha_seleccionada %}value="{{ fecha_seleccionada }}"{% endif %}>
                <div class="form-group mt-3">
                    <select name="turno_periodo" id="turno_periodo" class="form-control">
                        <option value="manana">Mañana</option>
                        <option value="tarde">Tarde</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-3" id="mostrarHorariosBtn">Mostrar Horarios</button>
                </div>
            </form>

            <!-- Mostrar mensajes de error o éxito -->
            {% if messages %}
                <div class="alert alert-info mt-3" role="alert">
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Mostrar horarios o formulario de reserva -->
            <div id="horariosContainer" class="mt-4">
                {% if reserva_form %}
                    <div class="reserva-form-container">
                        <h2>Reservar Turno</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {{ reserva_form.as_p }}
                            <input type="hidden" name="turno_id" value="{{ reserva_form.instance.id }}">
                            <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
                        </form>
                    </div>
                {% elif turnos %}
                    <h2 class="available-times-heading"><strong>Horarios Disponibles para el día seleccionado:</strong></h2>
                    <div class="row mt-3">
                        {% for turno in turnos %}
                            <div class="col-12 col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ turno.hora|time:"H:i" }}</h5>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="turno_id" value="{{ turno.id }}">
                                            <button type="submit" class="btn btn-primary">Seleccionar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 position-relative">
                    <a href="https://www.instagram.com/ivanbellotti78/" target="_blank" class="instagram-icon">
                        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" class="instagram-img" alt="Instagram">
                    </a>
                </div>
                <div class="col-md-4 position-relative">
                    <a href="https://wa.me/5493533488227" target="_blank" class="whatsapp-icon">
                        <img src="https://img.icons8.com/fluent/48/000000/whatsapp.png" class="whatsapp-img" alt="WhatsApp">
                    </a>
                </div>
                <div class="col-md-4 position-relative text-right">
                    <a href="https://www.facebook.com/ivan.bellotti.56" target="_blank" class="facebook-icon">
                        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" class="facebook-img" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Flatpickr localization for Spanish -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const datePicker = flatpickr('#datepicker', {
                locale: 'es', // Establecer idioma en español
                dateFormat: 'd-m-Y',
                minDate: 'today',
                disable: [
                    function(date) {
                        // Deshabilitar los lunes
                        return date.getDay() === 1;
                    },
                    function(date) {
                        // Deshabilitar los domingos
                        return date.getDay() === 0;
                    }
                ],
                // Puedes agregar otros ajustes aquí si es necesario
            });
    
            document.getElementById('mostrarHorariosBtn').addEventListener('click', function(event) {
                event.preventDefault();
                document.getElementById('horariosForm').submit();
            });
        });
    </script>
</body>
</html>
